{% extends 'index.html' %}
{% block content %}
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      text-align: center;
      padding: 50px;
    }
    
    h1 {
      color: #333;
    }
    
    table {
      width: 80%;
      margin: 20px auto;
      border-collapse: collapse;
      background: white;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      overflow: hidden;
    }
    
    th,
    td {
      padding: 12px;
      border: 1px solid #ddd;
      text-align: left;
    }
    
    th {
      background-color: #007bff;
      color: white;
    }
    
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    
    tr:hover {
      background-color: #ddd;
    }
  </style>

  <body>
    <h1>Список поисковых запросов</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Фраза</th>
          <th>Город</th>
        </tr>
      </thead>
      <tbody>
        {% for request in requests %}
          <tr>
            <td>{{ request.id }}</td>
            <td>{{ request.search_phrase }}</td>
            <td>{{ request.sity }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
{% endblock %}
